Repository Samograje/co-gdzie-kiedy, pull requests merged in 2019-10, with the labels that each got.

#8 Add the initial project structure
  .gitignore
  README.md
  backend/.mvn/wrapper/MavenWrapperDownloader.java
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/README.md
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/org/polsl/backend/BackendApplication.java
  backend/src/main/java/org/polsl/backend/entity/Affiliation.java
  backend/src/main/java/org/polsl/backend/entity/ComputerSet.java
  backend/src/main/java/org/polsl/backend/entity/Hardware.java
  backend/src/main/java/org/polsl/backend/entity/HardwareDictionary.java
  backend/src/main/java/org/polsl/backend/entity/Software.java
  backend/src/main/java/org/polsl/backend/repository/AffiliationRepository.java
  backend/src/main/java/org/polsl/backend/repository/ComputerSetRepository.java
  backend/src/main/java/org/polsl/backend/repository/HardwareDictionaryRepository.java
  backend/src/main/java/org/polsl/backend/repository/HardwareRepository.java
  backend/src/main/java/org/polsl/backend/repository/SoftwareRepository.java
  backend/src/main/java/org/polsl/backend/service/AffiliationService.java
  backend/src/main/java/org/polsl/backend/service/ComputerSetService.java
  backend/src/main/java/org/polsl/backend/service/HardwareDictionaryService.java
  backend/src/main/java/org/polsl/backend/service/HardwareService.java
  backend/src/main/java/org/polsl/backend/service/SoftwareService.java
  backend/src/main/resources/application-example.properties
Labels: backend

#13 Dodanie aktualnego schematu bazy danych
  backend/src/main/java/org/polsl/backend/entity/Affiliation.java
  backend/src/main/java/org/polsl/backend/entity/AffiliationComputerSet.java
  backend/src/main/java/org/polsl/backend/entity/AffiliationHardware.java
  backend/src/main/java/org/polsl/backend/entity/ComputerSet.java
  backend/src/main/java/org/polsl/backend/entity/ComputerSetHardware.java
  backend/src/main/java/org/polsl/backend/entity/Hardware.java
  backend/src/main/java/org/polsl/backend/entity/Software.java
  backend/src/main/java/org/polsl/backend/entity/SoftwareHardware.java
  docs/schemat_bazy_v1.mwb
  docs/schemat_bazy_v1.png
Labels: database

#15 Utworzenie pierwszego kontrolera REST API
  backend/README.md
  backend/src/main/java/org/polsl/backend/BackendApplication.java
  backend/src/main/java/org/polsl/backend/controller/AffiliationController.java
  backend/src/main/java/org/polsl/backend/dto/ApiBasicResponse.java
  backend/src/main/java/org/polsl/backend/dto/PaginatedResult.java
  backend/src/main/java/org/polsl/backend/dto/affiliation/AffiliationInputDTO.java
  backend/src/main/java/org/polsl/backend/dto/affiliation/AffiliationOutputDTO.java
  backend/src/main/java/org/polsl/backend/entity/Affiliation.java
  backend/src/main/java/org/polsl/backend/entity/AffiliationComputerSet.java
  backend/src/main/java/org/polsl/backend/entity/AffiliationHardware.java
  backend/src/main/java/org/polsl/backend/entity/ComputerSet.java
  backend/src/main/java/org/polsl/backend/entity/ComputerSetHardware.java
  backend/src/main/java/org/polsl/backend/entity/Hardware.java
  backend/src/main/java/org/polsl/backend/entity/HardwareDictionary.java
  backend/src/main/java/org/polsl/backend/entity/Software.java
  backend/src/main/java/org/polsl/backend/entity/SoftwareHardware.java
  backend/src/main/java/org/polsl/backend/exception/NotFoundException.java
  backend/src/main/java/org/polsl/backend/repository/AffiliationRepository.java
  backend/src/main/java/org/polsl/backend/service/AffiliationService.java
  backend/src/main/java/org/polsl/backend/service/ComputerSetService.java
  backend/src/main/java/org/polsl/backend/service/HardwareDictionaryService.java
  backend/src/main/java/org/polsl/backend/service/HardwareService.java
  backend/src/main/java/org/polsl/backend/service/SoftwareService.java
  backend/src/main/resources/application-example.properties
  docs/schemat_bazy_v1.mwb
  docs/schemat_bazy_v1.png
Labels: backend

#20 Lista sprzętu
  .gitignore
  backend/src/main/java/org/polsl/backend/controller/DeviceController.java
  backend/src/main/java/org/polsl/backend/dto/devices/DeviceOutputDTO.java
  backend/src/main/java/org/polsl/backend/entity/Hardware.java
  backend/src/main/java/org/polsl/backend/entity/HardwareDictionary.java
  backend/src/main/java/org/polsl/backend/repository/HardwareRepository.java
  backend/src/main/java/org/polsl/backend/service/ComputerSetService.java
  backend/src/main/java/org/polsl/backend/service/DeviceService.java
  backend/src/main/java/org/polsl/backend/service/HardwareService.java
  docs/schemat_bazy_v1.mwb
  docs/schemat_bazy_v1.png
Labels: backend

#19 Dodanie testów integracyjnych i obsługa wyjątków kontrolerów
  .gitignore
  backend/README.md
  backend/src/main/java/org/polsl/backend/config/ControllerExceptionHandler.java
  backend/src/main/java/org/polsl/backend/config/ErrorResult.java
  backend/src/main/java/org/polsl/backend/config/FieldValidationError.java
  backend/src/test/java/org/polsl/backend/AffiliationControllerIntegrationTest.java
  backend/src/test/resources/application-test-example.properties
  backend/src/test/resources/scripts/create-test-affiliation.sql
Labels: backend, enhancement

#28 Drobne poprawki w bazie danych
  backend/src/main/java/org/polsl/backend/entity/Hardware.java
  docs/schemat-bazy/schemat_bazy.mwb
  docs/schemat-bazy/schemat_bazy.png
Labels: backend, database, docs

#29 Testy integracyjne listy sprzętu
  backend/src/test/java/org/polsl/backend/DeviceControllerIntegrationTest.java
  backend/src/test/resources/scripts/create-test-computer_sets.sql
  backend/src/test/resources/scripts/create-test-computer_sets_hardware.sql
  backend/src/test/resources/scripts/create-test-hardware.sql
  backend/src/test/resources/scripts/create-test-hardware_dictionary.sql
Labels: backend

#30 Rozdzielenie kontrolera urządzeń na kontrolery: hardware'u i zestawów
  backend/src/main/java/org/polsl/backend/controller/ComputerSetController.java
  backend/src/main/java/org/polsl/backend/controller/DeviceController.java
  backend/src/main/java/org/polsl/backend/controller/HardwareController.java
  backend/src/main/java/org/polsl/backend/dto/computerset/ComputerSetOutputDTO.java
  backend/src/main/java/org/polsl/backend/dto/devices/DeviceOutputDTO.java
  backend/src/main/java/org/polsl/backend/dto/hardware/HardwareOutputDTO.java
  backend/src/main/java/org/polsl/backend/service/ComputerSetService.java
  backend/src/main/java/org/polsl/backend/service/DeviceService.java
  backend/src/main/java/org/polsl/backend/service/HardwareService.java
  backend/src/test/java/org/polsl/backend/ComputerSetControllerIntegrationTest.java
  backend/src/test/java/org/polsl/backend/DeviceControllerIntegrationTest.java
  backend/src/test/java/org/polsl/backend/HardwareControllerIntegrationTest.java
Labels: backend
